.menu {
        background-color: rgb(31, 41, 55);
        padding: 4rem 0.5rem;

        & > * {
                margin-bottom: 1rem;
        }
        &__title {
                text-align: center;
                & img {
                        display: inline-block;
                }
        }

        &__container {
                width: 80%;
                margin: 0 auto;
                @include BreakPoint(md) {
                        width: 100%;
                }
        }

        &__details {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1.5rem 0.5rem;
                border: 1px solid rgb(229, 231, 235);
                font-weight: 500;
                color: rgb(243, 244, 246);

                &__cols {
                        display: flex;
                }

                & > p {
                        font-weight: 400;
                        color: rgb(156, 163, 175);
                }
        }

        &__top {
                padding: 0.5rem 0;
                border-top: 2px solid rgb(252, 211, 77);
                border-bottom: 2px solid rgb(252, 211, 77);
        }
        &__section {
                font-size: 1.5rem;
                font-weight: 600;
                color: rgb(251, 191, 36);
        }
        &__sub_section {
                color: rgba(251, 191, 36, 0.8);
        }

        &__list {
                color: white;
        }
        &__item {
                padding: 0.25rem 0;
        }
        &__ber {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__title {
                        display: flex;
                        font-weight: 500;
                        justify-content: space-between;
                }
                &__status {
                        display: inline-flex;
                        align-items: center;
                }
                &__price {
                        text-align: right;
                        color: rgb(209, 213, 219);
                }
        }

        &__cols {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                column-gap: 1rem;

                @include BreakPoint(xl) {
                        grid-template-columns: 1fr 1fr 1fr;
                }
                @include BreakPoint(lg) {
                        grid-template-columns: 1fr 1fr;
                }
                @include BreakPoint(md) {
                        grid-template-columns: 1fr;
                }
        }
}
