.space-x-8 > *:not(:last-child) {
        margin-right: 2rem;
}
.space-x-4 > *:not(:last-child) {
        margin-right: 1rem;
}
.space-y-2 > *:not(:last-child) {
        margin-bottom: 0.5rem;
}
.space-y-8 > *:not(:last-child) {
        margin-bottom: 2rem;
}
