.logo {
  color: #27ae60;
  padding: 4px;
}

.logo > a {
  color: #27ae60;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 200;
  background: #2c3e50;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .navbar__list > li:not(:first-child) {
    display: none;
  }
  .navbar__list.open {
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2c3e50;
    width: 100%;
  }
  .navbar__list.open > li {
    display: block;
  }
}

.navbar__link {
  color: #fefefe;
  padding: 16px 8px;
  display: block;
}

.navbar__link:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #27ae60;
}

.navbar__link.selected {
  background-color: #27ae60;
}

.navbar-btn-wrapper {
  display: none;
  right: 16px;
  top: 6px;
  position: absolute;
  cursor: pointer;
  height: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  row-gap: 8px;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

@media only screen and (max-width: 768px) {
  .navbar-btn-wrapper {
    display: -ms-grid;
    display: grid;
  }
}

.navbar-btn-wrapper > div {
  height: 8px;
  -webkit-transform: scale(1);
          transform: scale(1);
  width: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #fefefe;
}

.navbar-btn-wrapper:hover > div {
  background-color: #f1c40f;
}

.navbar-btn-wrapper.active > div:nth-child(1),
.navbar-btn-wrapper.active > div:nth-child(9) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.navbar__dropdown {
  position: relative;
}

.navbar__dropdown > a {
  color: #fefefe;
  padding: 16px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__dropdown > a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #27ae60;
}

.navbar__dropdown__list {
  background-color: #313131;
  top: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .navbar__dropdown__list {
    position: relative;
    max-height: 0;
  }
}

.navbar__dropdown__list a {
  display: block;
  padding: 8px 4px;
  color: white;
}

.navbar__dropdown__list a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #2927ae;
}

.navbar__dropdown__list.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  max-height: 9999px;
}
