*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

body {
  font-family: inherit;
  line-height: inherit;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #065f46;
  color: #e5e7eb;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__divider {
  width: 0.125rem;
  height: 1rem;
  background-color: #e5e7eb;
  margin: 0 1rem;
}

@media only screen and (max-width: 768px) {
  .footer__divider {
    display: none;
  }
}

.footer__extra {
  text-align: center;
  background-color: #e5e7eb;
  padding: 1rem;
}

.top-bg {
  height: 40.625rem;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .top-bg {
    height: 24rem;
  }
}

.top-bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  height: 7rem;
  padding: 0 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  z-index: 90;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 0 1rem;
  }
}

.navbar__logo {
  display: block;
  height: 2.5rem;
  width: 3.5rem;
}

.navbar__logo img {
  width: 100%;
  height: 100%;
}

.navbar__page {
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  background-color: #e5e7eb;
}

.navbar__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__menu {
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__menu a,
.navbar__menu button {
  display: block;
  height: 100%;
  font-size: 1.25rem;
  font-weight: 600;
}

.navbar__menu > * {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  padding: 0.5rem;
}

.navbar__menu > *:hover {
  background-color: #064e3b;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .navbar__menu {
    padding: 2rem 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .navbar__menu {
    width: 80%;
    height: 100%;
    top: 0;
    right: 0;
    color: white;
    margin-right: 0 !important;
    background-color: #064e3b;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 99;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .navbar__menu > *:hover {
    color: #064e3b;
    background-color: white;
  }
  .navbar__menu > *:not(:last-child) {
    margin-right: 0;
  }
  .navbar__menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.menu {
  background-color: #1f2937;
  padding: 4rem 0.5rem;
}

.menu > * {
  margin-bottom: 1rem;
}

.menu__title {
  text-align: center;
}

.menu__title img {
  display: inline-block;
}

.menu__container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .menu__container {
    width: 100%;
  }
}

.menu__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0.5rem;
  border: 1px solid #e5e7eb;
  font-weight: 500;
  color: #f3f4f6;
}

.menu__details__cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__details > p {
  font-weight: 400;
  color: #9ca3af;
}

.menu__top {
  padding: 0.5rem 0;
  border-top: 2px solid #fcd34d;
  border-bottom: 2px solid #fcd34d;
}

.menu__section {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fbbf24;
}

.menu__sub_section {
  color: rgba(251, 191, 36, 0.8);
}

.menu__list {
  color: white;
}

.menu__item {
  padding: 0.25rem 0;
}

.menu__ber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__ber__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__ber__status {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__ber__price {
  text-align: right;
  color: #d1d5db;
}

.menu__cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

@media only screen and (max-width: 1200px) {
  .menu__cols {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 992px) {
  .menu__cols {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .menu__cols {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.space-x-8 > *:not(:last-child) {
  margin-right: 2rem;
}

.space-x-4 > *:not(:last-child) {
  margin-right: 1rem;
}

.space-y-2 > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.space-y-8 > *:not(:last-child) {
  margin-bottom: 2rem;
}

.event {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .event {
    height: 24rem;
  }
}

.event__bg {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.event__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width: 768px) {
  .event__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.event__content h1 {
  font-size: 4.5rem;
  font-weight: bold;
  font-style: italic;
  line-height: 3rem;
  color: #ef4444;
}

.event__content p {
  font-size: 2rem;
  font-weight: bold;
  color: #047857;
}

.product {
  background-color: #1f2937;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6rem 1rem;
  margin: 0 auto;
  width: 80%;
}

@media only screen and (max-width: 992px) {
  .product__wrapper {
    padding: 2rem 1rem;
    width: 100%;
  }
}

.product__wrapper > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product__title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.product__para {
  color: #d1d5db;
}

.product__extra {
  color: #9ca3af;
}

.product__image {
  text-align: center;
  display: block;
}

.product__image > img {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .product__image {
    display: none;
  }
}

.quality {
  position: relative;
  padding: 2rem 0.5rem;
  color: white;
}

.quality__wrapper {
  position: relative;
  z-index: 20;
  margin: 0 auto;
}

.quality__bg {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.quality__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__container__side {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.quality__container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .quality__container > * {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .quality__container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.quality__image {
  position: relative;
}

.quality__content {
  padding: 0.5rem;
  font-size: 1.25em;
}

.quality__label {
  position: absolute;
  top: 0;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.quality__right {
  right: 0;
}

.quality__left {
  left: 0;
}

.quality__yellow {
  background-color: #b45309;
}

.quality__gray {
  background-color: #111827;
}

.quality__green {
  background-color: #065f46;
}
